@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* components.css는 main.ts에서 직접 import하므로 여기서는 제거 */

